<p>Notre observatoire est conçu à partir de la carte du <a href="https://www.paris.fr/pages/un-nouveau-plan-velo-pour-une-ville-100-cyclable-19554">Plan Vélo 2021-2026</a> publiée par la mairie de Paris lors de l’annonce du Plan Vélo, en octobre 2021. <a href="https://opendata.paris.fr/explore/dataset/plan-velo-2026/map/?location=14,48.83676,2.41549&basemap=jawg.streets">Les données détaillées du Plan Vélo de la Ville sont disponibles en Open Data.</a> Nous détaillons les objectifs du Plan Vélo sur la page <a href="engagements"> Engagements</a>.</p>

<p>Seuls les axes au statut « projeté », représentés par des pointillés sur la carte municipale, sont pris pour référence pour la mesure de l’avancement du Plan Vélo.</p> 

<p>Les traits les plus épais correspondent au <i>réseau principal</i>. Les traits plus fins correspondent au <i>réseau secondaire</i>. </p>

<ul>
<li> Le réseau principal - ou Vélopolitain - est le réseau cyclable structurant, à haut niveau de service, et intègre les axes du futur réseau régional, le RER Vélo. Il s’insère également dans le réseau vélo de la Métropole du Grand Paris. Les infrastructures cyclables du réseau principal suivent les recommandations du CEREMA : les pistes sont sécurisées, séparées du trafic, larges et confortables.
<li> Le réseau secondaire complète plus finement le maillage du réseau structurant. La ville de Paris ne s’est pas engagée à suivre de cahier des charges qualitatif pour le réaliser.
</ul>

<p>Le réseau existant comprend tous les axes cyclables réalisés avant le Plan Vélo 2021-2026. Ils sont représentés en traits continus sur la carte de la Ville, et correspondent à une variété d’infrastructures (certaines très anciennes, d’autres beaucoup plus récentes comme le boulevard de Sébastopol). La mairie n’a pas pris d’engagements sur ce réseau existant : aucune reprise des pistes anciennes, dont les standards qualitatifs ne correspondent plus aux besoins des très nombreux usagers actuels, n’est prévue. Ce réseau existant figure sur le calque “Réseau réalisé avant 2021” de notre observatoire.</p>

<p>Les infrastructures cyclables qui sont réalisées hors plan vélo, pour une desserte locale ou dans la démarche <i>Embellir votre quartier</i>, ne figurent pas sur cette carte.</p>

<p> Le pourcentage total d’avancement est calculé sur la base du linéaire réalisé - et ce quelle que soit la forme prise par la réalisation, en dur ou semi-léger - par rapport à l’ensemble du linéaire projeté dans le Plan Vélo (en gris continu).</p>

<table>
    <tr><td><br/></td><td></td></tr>
    <tr><td style="text-align: center;" width="50%"><img src="assets/images/PrerennisationRepublique.jpg" alt="Piste pérennisée (avenue de la République)"</td><td style="text-align: center;" width="50%"><img src="assets/images/PontAuChange-semiPerennisee.jpg" alt="Piste en urbanisme léger (semi-pérennisation) sur le Pont au Change"</td></tr>
    <tr><td style="text-align: center; padding: 15px;"><i>Pérennisations de coronapistes “en dur” : axes où les coronapistes déployées en 2020 ont été pérennisées “en dur” (reprise de voirie et bordures granit), après une phase travaux plutôt longue.</i></td><td style="text-align: center; padding: 15px;"><i>Semi-pérennisations légères : anciennes coronapistes pérennisées grâce à urbanisme léger de qualité (plots noir, peinture). Cette méthode, à la fois agile et esthétique, permet de déployer des pistes légères en quelques jours.</i></td></tr>
    <tr><td><br/></td><td></td></tr>
</table>

<p> L’Observatoire du Plan Vélo sera mis à jour régulièrement, au fur et à mesure des réalisations. Nous indiquerons les mises à jour et leur contenu dans la rubrique <a href="actualites.html">“Actualités”</a>.</p>

<p>L’évaluation de la qualité du réseau (satisfaisant, ou non satisfaisant, à la manière de l’Observatoire 2015-2020) fera l’objet d’une prochaine mise à jour.</p>

<p> 
Les citoyens sont invités à nous signaler les nouvelles infrastructures réalisées à Paris et à nous donner leurs impressions sur celles-ci via Twitter, Facebook ou par mail en écrivant à <a href="mailto:contact@parisenselle.fr">contact@parisenselle.fr</a>.
</p>

