<p> Paris en Selle est une association d’intérêt général, 100 % indépendante et autofinancée, grâce au soutien de ses adhérents et sympathisants, qui milite pour le développement du vélo dans le Grand Paris. </p>

<p>Au travers de l’Observatoire du Plan Vélo, nous informons les citoyennes et citoyens de l’avancement du programme municipal d’amélioration des conditions de circulation à vélo dans la Capitale. </p>

<p>Soutenez nos actions en faveur du vélo <a href="https://www.helloasso.com/associations/paris-en-selle/formulaires/6">en faisant un don</a> ou <a href="https://www.helloasso.com/associations/paris-en-selle/adhesions/paris-en-selle-adhesion">en devenant adhérent·e</a> (à partir de 5€). Plus d’informations sur notre site <a href="https://parisenselle.fr">parisenselle.fr</a></p>

