<script>
  var start = new Date(2020, 7, 3);
  var end = new Date(2026, 7, 3);
  var percentTimeElapsed = percent(start, end);
  var start_str = getDateStr(start);
  var end_str = getDateStr(end);
  const latest_release = "{{ site.modification_date }}";
  const site_preview = '{{ site.contentful.preview | default: false }}';

  const searchParams = new URLSearchParams(window.location.search);

  function get_release_date() {
      var release_date;
    if ((site_preview == 'true') && (searchParams.get('draft') == '1')) {
         release_date = null;
      }
    else if (searchParams.has('date')) {
          release_date = searchParams.get('date');
        }
    else {
      release_date = latest_release;;
    };
    return release_date;
  }

  var release_date = get_release_date();

  function getDateStr(d) {
    const fmt = {
    minimumIntegerDigits: 2,
    useGrouping: false
  };
     return d.getDate().toLocaleString('en-US', fmt) + "/" + (d.getMonth()+1).toLocaleString('en-US', fmt) + "/" + d.getFullYear();
  }

  function percent(start, end) {
    var now = new Date();
    return Math.round(Math.max(0, Math.min(100, (100.0 * (now - start)) / (end - start))));
  }
  // display
  function disp(value, element, text) {
    var progressBar = document.getElementById(element);
    if (value)
      progressBar.style.width = value + "%";
    if (text) {
      progressBar.innerHTML = text;
    }
    else {
      progressBar.innerHTML = value + "%";
    }
    progressBar.setAttribute("aria-valuenow", value);

    // Adapt color of progress bar if different from bar for time elapsed
    if (element === "timebar")
       progressBar.setAttribute("title", "Temps écoulé depuis le " + start_str + " (fin supposée " + end_str + ")");
  }

  window.onload = function () {
    disp(percentTimeElapsed, 'timebar');
    var panel_body = document.getElementById("panel-body-title");
      if (!release_date) {
        panel_body.innerHTML = panel_body.innerHTML + "(non-publié)";
    }
    else
      {
        var release_date_obj = new Date(release_date);
        panel_body.innerHTML = panel_body.innerHTML + "(au " + getDateStr(release_date_obj) + ")";
    };

    $('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="tooltip"]').tooltip();
  }
</script>
<style>
  .progress-bar-secondary {
    background-color: #868e96
  }

  .progress-striped .progress-bar-secondary {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)
  }
</style>
<div class="panel panel-default">
  <div class="panel-body" id="panel-body-content">
    <div id="panel-body-title">
        Taux de réalisation du Plan Vélo 
    </div>
    <div class="progress">
      <div id="cyclepaths-done" class="progress-bar progress-bar-done" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip"
        title="Total en % des aménagements du Plan Vélo réalisés (tous types de réalisations confondus)">
      </div>
      <div id="cyclepaths-remaining" class="progress-bar progress-bar-unfinished" role="progressbar" aria-valuenow="0"
        aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip"
        title="Total en % des aménagements du Plan Vélo qui restent à réaliser">
    </div>
    </div>

    Temps de mandature écoulé
    <div class="progress">
      <div id="timebar" class="progress-bar progress-bar-elapsed" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
        style="width:0%" data-toggle="tooltip" title="Temps écoulé">
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    Détails des réalisations :
    <ul>
        <li> nouveaux aménagements (hors pérennisations) : <span id="length-novel"> </span>
        <li> pérennisations en dur d'aménagement léger : <span id="length-persistent"> </span>
        <li> pistes légères (semi-pérennisations) : <span id="length-semipersistent"> </span>
   </ul>
 </div>
</div>
