<script>
  var start = new Date("03/07/2020") ;;
  var end = new Date("03/07/2026") ;
  var percentTimeElapsed = 100 ;

  function percent(start,end) {
      var now = new Date() ;
      return Math.round(Math.max(0, Math.min(100, ( 100.0 * (now - start) ) /  (end - start) )));
  }
  // display
  function disp(value, element, text)
  {
      var progressBar = document.getElementById(element);
      progressBar.style.width = value+"%" ;
      if (text)
      {
        progressBar.innerHTML = text ;
      }
      else {
        progressBar.innerHTML = value+"%" ;
      }
      progressBar.setAttribute("aria-valuenow", value) ;

      // Adapt color of progress bar if different from bar for time elapsed
      if ( element != "timebar" && element.indexOf("piste") == -1 )
      {
        if ( value > percentTimeElapsed || (percentTimeElapsed - value) < 10 )
          progressBar.className += " progress-bar-success";
        else if ( value / percentTimeElapsed > 0.5 )
          progressBar.className += " progress-bar-warning";
        else
          progressBar.className += " progress-bar-danger";
      }
  }

  window.onload = function ()
  {
    disp(100, 'parkings', '10000 places');
    disp(percentTimeElapsed, 'timebar');
    $('[data-toggle="tooltip"]').tooltip();
  }
</script>
<style>
.progress-bar-secondary{background-color:#868e96}
.progress-bar-info{background-color:#337ab7}
.progress-striped .progress-bar-secondary{background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);background-image:-o-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent)}
</style>
<div class="panel panel-default">
  <div class="panel-body">
    Avancement pressenti de la réalisation des infrastructures cyclables du Plan Vélo pour 2020
    <div class="progress">
     <div id="pisteSatisfying" class="progress-bar progress-bar-info" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip" title="Longueur totale des aménagements réalisés et satisfaisant par rapport à la longueur totale des aménagements dans le Plan Vélo"></div>
     <div id="pisteTheory" class="progress-bar progress-bar-secondary" role="progressbar"
     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%" data-toggle="tooltip" title="Longueur totale des aménagements pas encore réalisés par rapport à la longueur totale des aménagements dans le Plan Vélo"></div>
   </div>

 </div>
</div>
