---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Width of the content area
$content-width:    1200px;
$on-palm:          770px;
$on-laptop:        1000px;

$spacing-unit: 30px !default;
$grey-color: #828282 !default;
$base-font-size: 16px !default;
$base-line-height: 1.5 !default;
$grey-color-dark: darken($grey-color, 25%) !default;
$color-corona: #EB9E2C;
$color-semipersistent:  #4594FF;
$color-persistent: #1746A2;
$color-novel: #DF3F9C;
$color-unfinished: #736D6D;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


@import "minima";

/* header margin */

.wrapper {
    margin-top: 10px;
}

/* customize lists */

li > ul,
li > ol {
  margin-bottom: 10px; }


li:not(:last-of-type) {
  margin-bottom: 0.5em;
}



.site-title {
  @include relative-font-size(2);
  letter-spacing: -1px;
  letter-spacing: 0.05vmin;
  margin-left: 10px;
}

#videoFrame {
  width:100%;
  height:350px;
  height:50vmin;
}

#mapFrame {
  width:100%;
  height:700px;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.topbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: 10000;
  background-color: #00ACAF;
  visibility: hidden;
  text-align: center;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.hiddenElement { visibility:hidden; }

ul.no-bullets {
  list-style-type: none; /* Remove bullets */
}

.panel-body { line-height: 35px; };

.progress-bar-unfinished { background-color: $color-unfinished; };
.progress-bar-done { background-color:  #1746A2; };
.progress-bar-elapsed { background-color:  $color-novel; };

.path-existing { stroke: rgba(0, 74, 173, 0.38) };
.path-corona { stroke:  $color-corona };
.path-semipersistent { stroke: $color-semipersistent };
.path-persistent { stroke: $color-persistent };
.path-novel { stroke: $color-novel };
.path-unfinished { stroke: $color-unfinished };
.primary { stroke-width: 4 };
.secondary { stroke-width: 2 };
.path-selected { stroke-width: 6 !important};
.announced { stroke: $color-unfinished; stroke-dasharray: 1 5; } 

/* map legend: item position */
.legend-wrapper {   display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  }
.left-column { grid-column: 1; grid-row: 1;}
.right-column { grid-column: 2; grid-row: 1;}

.legend { list-style: none; margin-top: 10px; margin-left: 10px; }
.legend li { float: left; margin-right: 10px; margin-bottom: 0px; line-height: 22px; }
.legend span { border-radius: 3px; float: left; width: 20px; height: 20px; text-align: center; border: 1px solid; margin-right: 8px; }
.done-subcategory li:not(:first-child) { margin-left: 10px; }
/* map legend: item color */
.legend .grey { background-color: #adadad; }
.legend .green { background-color: #228b22; }
.legend .orange { background-color: #ffa500; }
.legend .corona { background-color: $color-corona; border-color: $color-corona;}
.legend .corona-unchecked { border-color: $color-corona;}
.legend .persistent { background-color: $color-persistent; border-color: $color-persistent;}
.legend .persistent-unchecked { border-color: $color-persistent;}
.legend .semipersistent { background-color: $color-semipersistent; border-color: $color-semipersistent;}
.legend .semipersistent-unchecked { border-color: $color-semipersistent;}
.legend .novel { background-color: $color-novel; border-color: $color-novel; }
.legend .novel-unchecked { border-color: $color-novel; }
.legend .unfinished { background-color: $color-unfinished; border-color: $color-unfinished; }
.legend .unfinished-unchecked { border-color: $color-unfinished; }
//.legend .black { border: none; border-top: 5px dashed black; border-radius: 0px; height: 1px; width: 30px; margin: 5px 5px;}
.legend .black { 
  background-image: linear-gradient(to right, black 50%, white 50%);
  background-size: 27px 12px;
  background-repeat: repeat-x;
}
.legend .announced { 
  background-image: linear-gradient(to right, $color-unfinished 50%, white 50%);
  background-size: 11px 12px;
  background-repeat: repeat-x;
}
.legend .red { background-color: #ff0000; }
.legend .darkblue { background-color: #337ab7; }
.legend .blue { background-color: #3456d9 ; background-color: rgba(52,86,217,0.4); }

/* image caption */
.image-wrapper {
    text-align: center;

    .image-caption {
        color: $grey-color;
        font-size: 13px;
        margin-top: $spacing-unit / 3;
    }
}

/*actualities*/

.post-content article {
    padding-bottom: 30px;
}

.post-content h3 {
    color: #00ACAF;
    font-weight: bold;
    font-size: 20px;
}



/* pagination */
ul.pager { text-align: center; list-style: none; }
ul.pager li {display: inline;border: 1px solid grey; padding: 10px; margin: 5px; border-radius: 10px;}

/* search box */
#search-input {
  width:98%;
  border: 1px solid $grey-color;
  padding: 4px 4px;
  border-radius: 4px;
  background-image: url('images/search.png');
  background-position: right 6px top 7px;
  background-repeat: no-repeat;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font: inherit;
}

.footer-col-heading {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-search {
  width: -webkit-calc(67% - (#{$spacing-unit} / 2));
  width:         calc(67% - (#{$spacing-unit} / 2));
}

.footer-col-1 {
  width: -webkit-calc(33% - (#{$spacing-unit} / 2));
  width:         calc(33% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(25% - (#{$spacing-unit} / 2));
  width:         calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(42% - (#{$spacing-unit} / 2));
  width:         calc(42% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-heading,
  .footer-col-search,
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

/* disable bootstrap box-sizing http://stackoverflow.com/questions/34790054/css-disable-bootstrap-box-sizing */
* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
