---
layout: default
---
{% include progress.html %}
{% include map.html %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Méthodologie de construction de l’observatoire</h3>
  </div>
  <div class="panel-body">
    <article class="post">
      <div class="post-content">
        {% include methode.html %}
      </div>
    </article>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Paris En Selle</h3>
  </div>
  <div class="panel-body">
    <article class="post">
      <div class="post-content">
        {% include parisenselle.html %}
      </div>
    </article>
  </div>
</div>
